article {
	width: 800px;
	margin: 30px auto;
}

h1, h2, h3 {
	font-family: Verdana, sans-serif;
	color: #993333;
}

p {
	font-family: Garamond, "Times New Roman", serif;
	font-size: 19px;
}

#authors p {
	padding: 2px;
	background-color: #CCCCCC;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: blue;
}